* {
    margin: 0;
    padding: 0;
    font-family: Araboto;
    color: rgb(78, 78, 78);
}

@font-face {
    font-family: Anton;
    src: url(../assets/fonts/Anton/Anton-Regular.ttf);
}

@font-face {
    font-family: Araboto;
    src: url(../assets/fonts/Araboto/Araboto\ Light\ 400.ttf);
}

header {
    height: fit-content;
    margin: 20px 40px 20px 40px;
}

#nyt-title {
    font-size: 2em;
    font-weight: bold;
    color: black;
    display: block;
}

#nyt-title span {
    font-size: 0.3em;
    color: black;
}

#best-seller-title {
    font-family: Anton;
    font-size: 5em;
    color: white;
    background-color: black;
    height: fit-content;
    text-align: right;
    display: inline-block;
    width: 60%;
    padding: 0 20px 0 0;
    line-height: 65px;
}

/* header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    width: 30%;
} */

header hr {
    border: 1px solid rgb(231, 231, 231);
    margin-top: 10px;
}

#filters-all-lists-container {
    margin: 20px 40px 20px 40px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

#filters-all-lists-container select option{
    padding: 2px;
}

#all-lists-container {
    display: grid;
    margin: 0px 40px 30px 40px;
    gap: 20px;
}

#all-lists-container article {
    /* height: 200px; */
    /* overflow: auto; */
    border: 1px solid lightgray;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 3px lightgray;
    border-radius: 3px;
    height: fit-content;
}

#all-lists-container h3 {
    font-size: 1.2em;
}

#all-lists-container hr {
    margin: 20px 0px 20px 0px;
    border: 1px solid rgb(231, 231, 231);
}

#all-lists-container p {
    margin-bottom: 10px;
    font-size: 0.8em;
}

#all-lists-container button {
    padding: 5px 15px 7px 15px;
    width: fit-content;
    border: 1px solid lightgray;
    box-shadow: 0 0 3px lightgray;
    background-color: white;
    border-radius: 3px;
    font-size: 0.8em;
}

#all-lists-container button:hover {
    background-color: darkblue;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.hide {
    display: none !important;
}

#h3-all-books {
    margin-top: 10px;
    font-size: 2em;
    display: block;
}

#back-button-all-books-container {
    margin: 0px 30px 0px 30px;
}

#back-button-all-books-container button {
    padding: 5px 15px 7px 15px;
    width: fit-content;
    border: 1px solid lightgray;
    box-shadow: 0 0 3px lightgray;
    background-color: rgb(232, 23, 22);
    color: white;
    border-radius: 3px;
}

#back-button-all-books-container button:hover {
    background-color: red;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}

#all-books-container {
    display: grid;
    margin: 20px 40px 20px 40px;
    gap: 20px;
}

#all-books-container article {
    height: fit-content;
    border: 1px solid lightgray;
    box-shadow: 0 0 3px lightgray;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#all-books-container h4 {
    font-size: 0.8em;
    padding-bottom: 15px;
}

#all-books-container img {
    width: 100%;
}

#all-books-container p {
    font-size: 0.8em;
}

#all-books-container p:first-of-type {
    font-style: italic;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btnAmazon {
    padding: 5px 15px 7px 15px;
    width: fit-content;
    border: 1px solid lightgray;
    box-shadow: 0 0 3px lightgray;
    background-color: rgb(255, 153, 0);
    color: white;
    border-radius: 3px;
    margin-top: 15px;
}

.btnAmazon:hover {
    color: black;
    transition: 0.5s;
    cursor: pointer;
}

.btnFavorite {
    padding: 5px 10px 7px 10px;
    width: fit-content;
    border: 1px solid lightgray;
    box-shadow: 0 0 3px lightgray;
    background-color: white;
    color: black;
    border-radius: 3px;
    margin-top: 15px;
}

.btnFavorite:hover {
    background-color: red;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.btnFavoriteActive {
    padding: 5px 10px 7px 10px;
    width: fit-content;
    border: 1px solid lightgray;
    box-shadow: 0 0 3px lightgray;
    background-color: red;
    color: white;
    border-radius: 3px;
    margin-top: 15px;
}

.btnFavoriteActive:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}

#pagination-container {
    margin: 30px 0 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pagination-container span{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1em;
}

#pagination-container button{
    width: 30px;
    height: 30px;
    font-size: 1em;
}

#pagination-container button:hover{
    background-color: darkblue;
    color: white;
    cursor: pointer;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    #all-lists-container {
        grid-template-columns: repeat(1, 1fr);
    }

    #all-books-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    #all-lists-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #all-books-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #all-lists-container {
        grid-template-columns: repeat(3, 1fr);
    }

    #all-books-container {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (min-width: 992px) and (max-width: 1199px) {
    #all-lists-container {
        grid-template-columns: repeat(4, 1fr);
    }

    #all-books-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    #all-lists-container {
        grid-template-columns: repeat(5, 1fr);
    }

    #all-books-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

.loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-left-color: darkblue;
    animation: spin 1s ease infinite;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}