@font-face {
    font-family: Anton;
    src: url(./assets/fonts/anton/anton-regular.ttf);
}

@font-face {
    font-family: Araboto;
    src: url(./assets/fonts/araboto/araboto\light\400.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: Araboto;
}

/* body,
html {
    height: 100%;
} */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    border: 1px solid gray;
    box-shadow: 0 0 3px lightgray;
    background-color: rgb(245, 245, 245);
    border-radius: 3px;
}

button:hover {
    background-color: rgb(230, 230, 230);
    transition: 0.3s;
    cursor: pointer;
}

main,
header {
    color: black;
}

header {
    height: fit-content;
    margin: 20px 40px 0px 40px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

#nytContainer {
    width: fit-content;
}

#nytContainer img {
    width: 400px;
}

/* header hr {
    border: 1px solid lightgray;
    margin-top: 10px;
} */

/* #nyt-title {
    font-size: 2em;
    font-weight: bold;
    color: black;
    display: block;
}

#nyt-title span {
    font-size: 0.3em;
    color: black;
}

#best-seller-title {
    font-family: Anton;
    font-size: 5em;
    color: white;
    background-color: black;
    height: fit-content;
    text-align: right;
    display: inline-block;
    width: 60%;
    padding: 0 20px 0 0;
    line-height: 65px;
} */

#userNavContainer {
    height: fit-content;
    width: fit-content;
    margin-left: auto;
}

#loggedInContainer button{
    padding: 5px 10px 7px 10px;
}

#pfpMessageContainer {
    margin-bottom: 10px;
}

#labelPfp {
    display: block;
    width: fit-content;
}

#labelPfp:hover {
    cursor: pointer;
}

#profilePictureContainer {
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 50%;
    overflow: hidden;
}

#imgProfilePicture {
    width: 100%;
    height: 100%;
}

#login-window,
#signup-window {
    padding: 5px 10px 7px 10px;
}

#auth-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
    box-sizing: border-box;
}

#login-container,
#signup-container {
    background-color: #fff;
    height: fit-content;
    width: 30%;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.fa-xmark {
    pointer-events: none;
}

.close-auth-window {
    padding: 4px 10px 5px 10px;
    /* margin-bottom: 10px; */
    margin-left: 90%;
    box-sizing: border-box;
}

#login-container label,
#signup-container label {
    margin-top: 100px;
}

#login-container input,
#signup-container input {
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

#login-container input[type=submit],
#signup-container input[type=submit] {
    width: 100%;
    background-color: darkblue;
    font-size: 1em;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.show {
    pointer-events: auto !important;
    opacity: 1 !important;
}

#filters-all-lists-container {
    margin: 10px 40px 20px 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#filters-all-lists-container select {
    padding: 5px 10px 7px 10px;
    margin: 0 10px 0 10px;
}

#filters-all-lists-container input {
    padding: 5px 10px 7px 10px;
    margin: 0 10px 0 10px;
}

#filters-all-lists-container label{
    display: block;
    margin: 10px 0 0 0;
}

#all-lists-container {
    display: grid;
    margin: 0px 40px 40px 40px;
    gap: 20px;
}

#all-lists-container article {
    /* height: 200px; */
    /* overflow: auto; */
    border: 1px solid gray;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 3px lightgray;
    min-height: fit-content;
}

#all-lists-container h3 {
    font-size: 1.2em;
}

#all-lists-container hr {
    margin: 20px 0px 20px 0px;
    border: 1px solid lightgray;
}

#all-lists-container p {
    margin-bottom: 10px;
    font-size: 0.8em;
}

#all-lists-container button {
    padding: 5px 15px 7px 15px;
    width: fit-content;
    font-size: 0.8em;
}

.fa-angle-right:hover {
    pointer-events: none;
}

.hide {
    display: none !important;
}

#h3-all-books {
    margin: 10px 40px 10px 40px;
    font-size: 2em;
    display: block;
}

#back-button-all-books-container {
    margin: 10px 40px 0px 40px;
}

#back-button-all-books-container button {
    padding: 5px 15px 7px 15px;
    width: fit-content;
    /* background-color: rgb(242, 22, 22); */
}

/* #back-button-all-books-container button:hover {
    background-color: rgb(232, 22, 22);
    transition: 0.3s;
    cursor: pointer;
} */

.fa-angle-left:hover {
    pointer-events: none;
}

#all-books-container {
    display: grid;
    margin: 20px 40px 40px 40px;
    gap: 20px;
}

#all-books-container article {
    min-height: fit-content;
    border: 1px solid gray;
    box-shadow: 0 0 3px lightgray;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-content: flex-start; */
}

#all-books-container h4 {
    font-size: 0.8em;
    padding-bottom: 15px;
}

#all-books-container img {
    width: 100%;
}

#all-books-container p {
    font-size: 0.8em;
}

#all-books-container p:first-of-type {
    font-style: italic;
    padding-top: 15px;
    padding-bottom: 15px;
}

.anchorAmzn {
    width: fit-content;
    height: fit-content;
}

.btnAmazon {
    padding: 5px 15px 7px 15px;
    width: fit-content;
    height: fit-content;
    margin-top: 15px;
}

.btnAmazon:hover {
    color: black;
    background-color: rgb(255, 153, 0);
    transition: 0.3s;
    cursor: pointer;
}

.fa-amazon:hover {
    pointer-events: none;
}

.btnFavorite {
    padding: 5px 10px 7px 10px;
    height: fit-content;
    width: fit-content;
    margin-top: 15px;
}

.btnFavorite:hover {
    background-color: rgb(246, 46, 46);
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.btnFavoriteActive {
    padding: 5px 10px 7px 10px;
    height: fit-content;
    width: fit-content;
    margin-top: 15px;
    background-color: rgb(246, 46, 46);
}

.btnFavoriteActive:hover {
    background-color: rgb(255, 150, 150);
    transition: 0.3s;
    cursor: pointer;
}

.fa-heart:hover {
    pointer-events: none;
}

#pagination-container {
    margin: 30px 0 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#pagination-container span {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1em;
}

#pagination-container button {
    width: 30px;
    height: 30px;
}

.buttonDisabled {
    opacity: 0.3;
    pointer-events: none;
}

/* #pagination-container button:hover{
    background-color: darkblue;
    transition: 0.3s;
    color: white;
    cursor: pointer;
} */

footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 0.9em;
    margin-top: auto;
}

footer #dby {
    color: lightgray;
}

footer #name {
    font-weight: bold;
}

.fa-github:hover {
    pointer-events: none;
}

@media only screen and (min-width: 320px) and (max-width: 481px) {
    #all-lists-container {
        grid-template-columns: repeat(1, 1fr);
    }
    #all-books-container {
        grid-template-columns: repeat(1, 1fr);
    }
    #userNavContainer {
        margin-top: 20px;
    }
    #login-container,
    #signup-container {
        width: 60%;
    }
    #nytContainer img {
        width: 300px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    #all-lists-container {
        grid-template-columns: repeat(2, 1fr);
    }
    #all-books-container {
        grid-template-columns: repeat(2, 1fr);
    }
    #login-container,
    #signup-container {
        width: 60%;
    }
    #nytContainer img {
        width: 300px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    #all-lists-container {
        grid-template-columns: repeat(3, 1fr);
    }
    #all-books-container {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media screen and (min-width: 992px) and (max-width: 1200px) {
    #all-lists-container {
        grid-template-columns: repeat(4, 1fr);
    }
    #all-books-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    #all-lists-container {
        grid-template-columns: repeat(5, 1fr);
    }
    #all-books-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

.loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-left-color: darkblue;
    animation: spin 1s ease infinite;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}